# Python
__pycache__/
*.pyc

# Conda
.env
*.env

# Virtual environments
venv/
myn_again/

# Data
datasets/

# Logs
logs/
debug_logs/

# Models
*.pth
*.pt
*.ckpt

# OS
.DS_Store

#Debug
debug_output/

#results
my_results/
test_output/
eval_output/
inference_output/

#wandb
wandb/

#pngs
*.png
